body {
  background-image: url("https://vignette.wikia.nocookie.net/mario/images/8/8a/Mario_Party_3_-_North_American_boxart.png/revision/latest?cb=20120224004315");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}



.walubtn, .walubtn:focus {
  background-color: #570A94;
  border: 1px solid #570A94;
  color: rgb(200,200,200);
}

.walubtn:hover {
  background-color: yellow;
  border: 1px solid #570A94;
  color: #570A94;
  font-weight: bold;
}

.scorecard {
  border: 10px solid transparent;
  padding: 15px;
  border-image:url("https://mytimeiswaa.github.io/images/scorecard_border.png") round;
  border-image-slice:10%;
}
