body {
  background-image: url("https://vignette.wikia.nocookie.net/mario/images/8/8a/Mario_Party_3_-_North_American_boxart.png/revision/latest?cb=20120224004315");
  background-repeat: no-repeat;
  background-size: auto;
}
